
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pacifico&family=Updock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* oleo */
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
.oleo-script-regular {
    font-family: "Oleo Script", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .oleo-script-bold {
    font-family: "Oleo Script", system-ui;
    font-weight: 700;
    font-style: normal;
  }
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-attachment: fixed; */
    /* background-repeat: no-repeat; */

}
.home{
    width: 100%;
}
.home>.menu{
    width: 100%;
    height: 12%;
    background-color: rgb(53, 57, 53);
    display: flex;
    place-items: center;
    position: sticky;
    top: 0;
    box-shadow: 1000px solid black;  
    border-radius: 0px;
}
.home>.menu>.logo>h1{
  font-size: 30px;
  font-family: "Oleo Script", system-ui;
  color: white; 
  margin: 35px;
  color: white;
}
.home>.menu>.logo>h1:hover{
        color: rgb(188, 189, 103);
        cursor: pointer;
}
.home>.menu>ul{
    display: flex;
    text-transform: uppercase;
    margin-left: 400px;
}
.home>.menu>ul>li{
    list-style: none;
    justify-content: center;
    position: sticky;
    
}
.home>.menu>ul>li>a{
    text-decoration: none;
    color: white;
    display: grid;
    justify-content: center;
    place-items: center;
    padding-left   : 22px;
    padding-right   : 22px;
    padding-top  : 10px;
    padding-bottom   : 10px;
    font-size: 18px;
    position: relative;
}
.home>.menu>ul>li>a::after{
    content: "";
    position: absolute;
    width: 0;
    left: 0;
    top: -2px;
    height: 2px;
    background-color: white;
    transition: 0.5s ease-in-out;
}
.home>.menu>ul>li>a:hover{
    color: rgb(74, 82, 192);

}
.home>.menu>ul>li>a::before{
    content: "";
    position: absolute;
    width: 0;
    left: 0;
    bottom: -4px;
    height: 3px;
    background-color: white;
    transition: 0.5 ease-in-out;
}
.home>.menu>ul>li>a:hover::after,
.home>.menu>ul>li>a:hover::before{
    width: 100%;
}
/* .home>.menu>ul>li>a>img{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    color: white;
    background-color: #fbfffb;
    border-radius: 50%;
} */    
.home>.menu>ul>li>a>img{
    width: 30px;
    height: 30px;

}
.home>.menu>ul>.number{
    background-color: rgb(214, 191, 155);
    width: 150px;
    display: flex;
    place-items: center;
    text-align: center;
    padding-left: 7px;
    height: 40px;
    font-size: 20px;
    border-radius: 50px;
    margin-top: 3px;
    margin-left: 15px;
}
.home>.menu>ul>.number:hover{
    background-color: #ffffff;
}
/* main */
.home>main{
    font-family: "Playfair Display", serif;
    font-size: 15px;
    width: 100%;
    background-color: rgb(224, 237, 239);
}
/* banner */
.home>main>.banner{
    display: flex;
    width: 100%;
    box-shadow: 10px;
    margin-top: px;
    background-image: url(condo4.jpg);
}
.home>main>.banner>.word{
    color: white;
    margin: 100px;
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.367);
    border-radius: 10px;
    width: 40%;
    height: 70%;
    position: relative;
    animation: mymove 5s infinite;
    animation-delay: 2s;
}
@keyframes mymove {
    from {left: 0px;}
    to {left: 300px;}
  }
.home>main>.banner>.word>h2
{
    color: white;
    font-size: 25px;
    margin-left: 100px;
    margin-top: 20px;
}
.home>main>.banner>.word>h1{
    color: white;
    font-size: 35px;
    margin-left: 160px;
    margin-top: 20px;
}
.home>main>.banner>.word>p{
    color: white;
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
    font-size: 22px;
}
.home>main>.banner>.word>button{
    padding: 10px;
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 80px;
    margin-bottom: 30px;
    border-radius: 20px;
    border: none;
    font: bold;
    font-family: "Playfair Display", serif;
}
.home>main>.banner>.word>button:hover{
    background-color: rgba(244, 248, 251, 0.441);
}
.home>main>.body{
    /* display: flex; */
}

.home>main>.body>h1{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.home>main>.body>.btn{
    display: flex;
    justify-content: center;
}
.home>main>.body>.btn>button{
    /* display: flex; */
    margin-top: 40px;
    justify-content: space-between;
    margin-left: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    font-family: "Playfair Display", serif;
    border-radius: 30px;
    /* border: 1px; */
    background-color: #c7c4847c;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgb(223, 235, 232);
}
.home>main>.body>.btn>button>a{
    color: black;
    font: bold;
    text-decoration: none;
}
.home>main>.body>.btn>button:hover{
    background-color: rgba(5, 4, 1, 0.37);
    border: 1px black;
    /* z-index: 1; */
}
/* Card */
 .home>main>.content{
    align-items: center;
    display: flex; 
    justify-content: center;  
    flex-wrap: wrap;  
    /* justify-content: space-around; */
 }
 .home>main>.content>.card{
    width: 350px;
    height: 470px;
    border-radius:10px;
    overflow: hidden;
    margin: 40px;
    box-shadow: 0 0 15px;
    flex-wrap: wrap;
    margin-left: 40px;
 } 
 .home>main>.content >.card >.pic{
    /* background-color: rgb(69, 133, 237); */
    width: 100%;
    height: 50%;
    display:grid;
    place-items: center;
}  
.home>main>.content >.card >.pic>img{
    object-fit: cover;
    width: 100%;

 }
 .home>main>.content>.card > .text{
    text-align: center;
    padding: 10px;
    margin: 5px;
    padding: 5px;
    font-family: "Playfair Display", serif;
}
.home>main>.content >.card > .text >p{
    text-align: center;
    padding: 10px 10px;
    font-size: 18px;
}
.home>main>.content >.card > .text >h1{
    margin-left: 10px;
}
.home>main>.content >.card>.text>button{
    text-align: center;
    border-radius:5px;
    border-top: 15px; 
    background-color: rgba(93, 195, 221, 0.37);
    padding: 8px 10px;
    margin: 15px;
    border: none;
    color: black;
    cursor: pointer;
    box-shadow: 0 0 5px rgb(30, 35, 34);
    font-family: "Playfair Display", serif;
}
.home>main>.content >.card>.text>button>a{
    text-decoration: none;
    color: black;
}
.home>main>.content >.card:hover{
    transform: scale(1.1);
    transform: matrix(1.1);
    transition: 0.7s;
    cursor: pointer;
    background-color: transparent;
    /* background-color: aqua;  */
 }
 /* text-1 */
 .home>main>.text-1{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
    background-color: white;
 }
 .home>main>.text-1>.text-2,
 .home>main>.text-1>.text-3{
    margin: 60px ;
 }
 .home>main>.text-1>.text-2>p{
    font-size: 18px;
 }
 .home>main>.text-1>.text-2>h1{
    font-size: 35px;
    margin-bottom: 0px;
 }
 .home>main>.text-1>.text-3>p{
    font-size: 18px;
 }
 .home>main>.text-1>.text-3>h1{
    font-size: 35px;
    margin-bottom: 10px;
 }
 .home>main>.text-1>.text-3>button{
    margin-top: 20px;
    padding: 13px;
    background-color: black;
    border: none;
    border-radius: 50px;
    
 }
 .home>main>.text-1>.text-3>button:hover{
    transform: matrix(1.1s);
    transform: scale(1.1s);
    transition: 0.7s;
    cursor: pointer;
    background: rgb(137, 161, 214);
 }
 .home>main>.text-1>.text-3>button>a{
    color: white;
    text-decoration: none;
    letter-spacing: 0px;
    font-size: 15PX;
    font-family: "Playfair Display", serif;
 }
 .home>main>.text-4>h1{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 130px;
    background-color: white;
    font-family: "Oleo Script", system-ui;
    font-size: 45px;
    margin-bottom: 10px;

 }
 .home>main>.content-1{
    align-items: center;
    display: flex; 
    justify-content: space-evenly; 
    flex-wrap: wrap;  
 }
 .home>main>.content-1>.card{
    width: 350px;
    height: 450px;
    /* border-radius:10px; */
    overflow: hidden;
    margin: 30px;
    box-shadow: 0 0 15px;
    flex-wrap: wrap;
    margin-bottom: 60px;
 }
 .home>main>.content-1 >.card >.pic{
    /* background-color: rgb(69, 133, 237); */
    width: 100%;
    height: 50%;
    display:grid;
    place-items: center;
}  
.home>main>.content-1 >.card >.pic>img{
    object-fit: cover;
    width: 100%;
 }
 .home>main>.content-1>.card > .text{
    text-align: center;
    padding: 0px;
    margin: 0px;
    padding: px;
    font-family: "Playfair Display", serif;
}
.home>main>.content-1>.card > .text>p{
  margin-top: 10px;
  font-size: 20px;

}
.home>main>.content-1>.card > .text>h1{
    font-size: 23px;
}
/* footer */
.home>main>footer>.text{
    width: 100%;
    height: 400px;
    background-color: rgb(33, 40, 48);
}
.home>main>footer>.text>h1{
    color: white;
    font-family: "Oleo Script", system-ui;
    font-size: 45px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}
.home>main>footer>.text>h1:hover{
    color: rgb(188, 189, 103);
    cursor: pointer;
}
.home>main>footer>.text>ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding-top: 30px;
}
.home>main>footer>.text>ul>li>a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-top: 10px ;
    margin-left: 20px ;
    margin-right: 20px ;
}
.home>main>footer>.text>ul>li>a:hover{
    color: rgba(181, 129, 67, 0.842);
}
.home>main>footer>.text>ul>li>a>img{
    width: 45px;
    border-radius: 50%;
    padding: 1px;
    border: 1px solid rgb(55, 55, 130);
    margin: 1px 3px;
}
.home>main>footer>.text>ul>li>a>img:hover{
    border: 1px solid white;
}
.home>main>footer>.text>span>p{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 90px;
    font-size: 18px;
    letter-spacing: 2px;
}
.home>main>footer>.text>span>p>span{
    white-space: nowrap;
    border-right: 3px solid black;
      overflow: hidden; /* Ensures text is clipped */
      animation: typing 5s steps(8) 1s infinite, blink 0.75s step-end infinite;
}
@keyframes typing {
    0%, 100% { width: 0; } /* Start and end with no text */
    50% { width: 8ch; } /* At 50%, the text is fully typed out */
  }

  /* Cursor blink animation */
  @keyframes blink {
    from, to { border-color: transparent; }
    50% { border-color: white; }
  }